.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  /* Take up the full viewport width */
    height: 75vh; /* Take up the full viewport height */
}

.register-box {
    background-color: rgb(234, 234, 234);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
    width: 30%;
    height: auto;
}

.register-box form {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the child elements horizontally */
    width: 100%;  /* Allow the form to take the full width of its parent */
}


button {
    text-decoration: none;
    border: none;
    color: #2c2b2b;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: rgb(197, 195, 195);
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #bab8b8;
  }

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.register-wrapper label {
    display: inline-block;
    width: 80px;  /* Set a width that accommodates the longest label */
    text-align: right;
    margin-right: 10px;  /* Some spacing between the label and the input */
}


.register-box form div { /* For each div inside the form */
    display: flex;
    align-items: center;  /* Vertical alignment */
    width: 100%;
    margin: 10px 0; /* Some vertical spacing between each div */
}

.register-box input {
    flex-grow: 1; /* Allow the input to take up available space */
    padding: 5px;
    margin-right: 10px; /* Spacing between input and the icon */
    width: 100%;
    box-sizing: border-box;
}

/* Responsiveness */
@media (max-width: 768px) { /* Tablets and below */
    .register-box {
        width: 90%;
    }
}

@media (max-width: 480px) { /* Mobile devices */
    .register-box {
        width: 100%;
    }

    .register-wrapper label {
        width: auto; /* Adjust for mobile, so it doesn't force a particular width */
        text-align: left;
    }
}

.register-box button[type="button"] {
    /* ... other styles ... */
    margin-left: 10px; /* Add some space between the input and the visibility toggle */
}