.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f3f3;
  padding: 10px 20px;
}

.nav-title {
  font-size: 24px;
  color: rgb(137, 133, 133);
  flex-grow: 1;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #ddd;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.left-container, .right-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.right-container {
  justify-content: flex-end;
}

/* Initially hide the nav buttons */
.nav-btn {
  display: none;
}

/* Display the nav buttons when showMenu state is true */
.nav-btn.show {
  display: flex;
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .hamburger {
      display: block;
  }

  .nav-links {
      position: absolute;
      top: 60px;
      right: 10px;
      flex-direction: column;
      background-color: #f4f3f3;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: none;
      gap: 10px;
      padding: 10px;
  }

  .nav-links.active {
      display: flex;
  }
}
