.start-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  /* Take up the full viewport width */
    height: 75vh; /* Take up the full viewport height */
}

.start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30%;
    height: 10%;
}

.start-container a {
    text-decoration: none;
    color: #2c2b2b;
    padding: 7px 25px;
    border-radius: 20px;
    background-color: rgb(234, 234, 234);
    transition: background-color 0.3s;
  }
  
  .start-container a:hover {
    background-color: #bab8b8;
  }